@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Outfit:wght@100..900&family=Poppins&family=Prata&display=swap');

@import "tailwindcss";

@config "../tailwind.config.js";

a.active hr{
    display: block;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
  
@media (max-width: 640px){
    a.active {
        background-color:  black;
        color: white;
    }
}